@import "../../styles/helpers";

:host {
    background-color: #313131;
    margin-top: auto;
    color: white;
    padding: 3rem 1rem;

    @include if-larger-than($bp-sm) {
        padding: 3rem;
    }
}

.footer-items {
    display: flex;
    justify-content: center;

    & + & {
        margin-top: 0.5rem;

        @include if-larger-than($bp-sm) {
            margin-top: 0%;
        }
    }
}

.left-items {
    @include if-larger-than($bp-sm) {
        justify-content: flex-start;
    }
}

.right-items {
    @include if-larger-than($bp-sm) {
        justify-content: flex-end;
    }
}
