<div [class.theme-dark]="theme === 'dark'" [class.theme-light]="theme === 'light'" [class.transparent]="transparent">

    <div class="title-bar-container">
        <div class="title-bar-leftcenter">
            <a class="title-bar-item branding" routerLink="">Deux Moto</a>
        </div>
        <div class="title-bar-right">
            <button class="title-bar-item" (click)="openMenu()">
                <span class="fa fa-bars"></span>
            </button>
        </div>
    </div>

    <title-bar-menu></title-bar-menu>

</div>
