<div class="title-bar-container"
    [class.-theme-dark]="theme === 'dark'"
    [class.-theme-light]="theme === 'light'"
    [class.-theme-transparent-light]="theme === 'transparent-light'"
    [class.-theme-transparent-dark]="theme === 'transparent-dark'">

    <div class="title-bar-container__top-bar">
        <div class="title-bar-container__top-bar-left">
            <a class="title-bar-container__item title-bar-container__branding" routerLink="" *ngIf="showBranding" [@fadeInOutAnimation]>Deux Moto</a>
        </div>
        <div class="title-bar-container__top-bar-right">
            <button class="title-bar-container__item" (click)="openMenu()">
                <span class="fa fa-bars"></span>
            </button>
        </div>
    </div>

    <title-bar-menu></title-bar-menu>

</div>
