<title-bar [theme]="titleBarTheme" [showBranding]="showingTitleBarBranding"></title-bar>

<div class="intro">
    <div class="intro__darken"></div>
    <div class="intro__container responsive-container">
        <h2 class="intro__title">
            Welcome to Deux Moto.
        </h2>
        <div class="intro__text">
            A blog about motorcycles and programming by Justin and Peter.
        </div>
    </div>
</div>

<div class="recent-posts">
    <post-preview class="responsive-container" previewCount="10"></post-preview>
</div>

<footer></footer>
