<div class="home-hero">
    <div class="title-container">
        <h1 class="hero-title">
            #Cati Lyfe
        </h1>
        <h3 class="hero-subtitle">A lyfestyle blog by Justin and Peter</h3>
    </div>
</div>

<ul class="recent-posts">
    <li class="post-preview" *ngFor="let post of recentPosts | async" (click)="navigateToPost(post.slug)">
        <div class="post-preview-header">
            <h2 class="post-preview-title">{{post.title}}</h2>
            <h3 class="post-preview-subtitle">{{post.whenPublished | date:"MMMM d, y - h:mma"}}</h3>
        <div class="post-preview-tags">
            <ul>
                <li *ngFor="let tag of post.tags"><a href="#" >#{{tag}}</a></li>
            </ul>
        </div>
        </div>
        <div class="post-preview-body">
            <p class="post-preview-description">{{post.description}}</p>
        </div>
    </li>
</ul>

<footer></footer>
