<div class="post-preview" *ngFor="let post of posts | async">
    <a class="post-preview__image" *ngIf="post.previewImageUri" [routerLink]="post.postUri" [ngStyle]="{ 'background-image': post.previewImageUri }"></a>
    <div class="post-preview__info post-info">
        <a class="post-info__title" [routerLink]="post.postUri">{{post.metadata.title}}</a>
        <div class="post-info__date-author">
            <span>By: Someone</span>
            <span> | </span>
            <span>{{post.metadata.whenPublished | date:"MMMM d, y - h:mma"}}</span>
        </div>
    </div>
    <div class="post-preview__body post-body">
        <div class="post-body__text markdown-body" [innerHtml]="post.rawHtmlThenIGuess"></div>
        <div class="post-body__readmore">
            <div class="post-body__readmore-line"></div>
            <a class="post-body__readmore-text" [routerLink]="post.postUri">
                Read more >
            </a>
        </div>
    </div>
</div>
