@import "../../styles/helpers";

.post-preview {
    padding: 1.5rem 0;
    width: 100%;

    &__image {
        width: 100%;
        height: 150px;
        display: block;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include if-larger-than-mobile() {
            height: 200px;
        }
    }

    &__info {
        margin-bottom: 1rem;
    }
}

.post-info {
    &__title {
        @include lobster-font();
        font-size: 1.5rem;
        color: black;
        display: block;
        word-wrap: break-word;

        &:hover {
            color: $color-primary;
        }

        @include if-larger-than-mobile() {
            font-size: 2rem;
        }
    }

    &__date-author {
        color: rgb(100, 100, 100);
        font-weight: bold;
        font-size: 0.8rem;
    }

    &__when-published {
        font-size: 0.8rem;
    }
}

.post-body {
    max-height: 200px;
    display: flex;
    flex-direction: column;

    &__text {
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__readmore {
        position: relative;
        flex: none;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            top: -50px;
            bottom: 100%;
            left: 0;
            width: 100%;
            background: linear-gradient(to bottom, transparent, white);
        }
    }

    &__readmore-line {
        position: absolute;
        top: calc(50% + 1px);
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &__readmore-text {
        $readmore-color: rgb(73, 73, 73);

        padding: 0.4rem 1rem;
        border-radius: 15px;
        color: $readmore-color;
        border: 1px solid $readmore-color;
        background-color: white;

        &:hover {
            color: white;
            border-color: transparent;
            background-color: $readmore-color;
        }
    }
}
