@import "../../styles/helpers";

$top-bar-height: 4rem;
$bottom-bar-height: 4rem;

:host {
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
}

/*
 * Top bar styling
 */
.top-bar {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.top-bar-inner {
    height: $top-bar-height;
    display: flex;
    align-items: center;
}
.top-bar-title {
    font-size: 2rem;
    font-weight: bold;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-bar-back {
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    @include if-larger-than($bp-lg) {
        margin-left: -1rem;
    }
}

/*
 * Tab group styling
 */
.tab-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    @include if-larger-than($bp-lg) {
        margin-bottom: 2rem;
    }

    button {
        flex: none;
        min-width: 10rem;
        height: 3rem;
        border-radius: 0px;
        margin-bottom: -1px; // to overlap tab-group bottom-border
        text-transform: uppercase;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0px;
            bottom: 0px;
            left: 0px;
            background-color: green;
            transition: 100ms;
        }

        &.active:after {
            height: 4px;
        }
    }
}
.tab-body {
    padding: 1rem;

    @include if-larger-than($bp-lg) {
        padding: 0;
    }
}

/*
 * Edit post main styling
 */
.edit-post {
    margin-top: $top-bar-height+1rem;
    margin-bottom: $bottom-bar-height+2rem;
    max-width: 100vw;
}
.edit-post-title {
    font-size: 2.5rem;
}

.edit-post-field {
    margin-bottom: 1rem;
}

/*
 * Bottom bar styling
 */
.bottom-bar {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}
.bottom-bar-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $bottom-bar-height;
}
.bottom-bar-item {
    & + & {
        margin-left: 1rem;
    }
}
