@import "../../styles/helpers";

:host {
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

/*
 * Top bar styling
 */
.top-bar {
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
}
.top-bar-title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
}
.top-bar-close {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-left: auto;
}

/*
 * Edit post main styling
 */
.edit-post {
    padding: 2rem;
}
.edit-post-title {
    font-size: 2.5rem;
}

.edit-post-field {
    width: 100%;
    margin-bottom: 1rem;
}
.edit-post-fields-inline {
    display: flex;
}
.edit-post-field-inline {
    flex: 1;

    & + & {
        margin-left: 10px;
    }
}

/*
 * Bottom bar styling
 */
.bottom-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom-bar-item {
    & + & {
        margin-left: 1rem;
    }
}
