@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cati Lyfe</title>
</head>
<body>
    <h1 style="font-size: 14em; text-align: center; font-family: helvetica"><a href="https://catilyfe.azurewebsites.net" style="text-decoration: none">catilyfe</a> <a style="text-decoration: none" href="/docs" title="dis be cati lyfe">api</a></h1>
</body>
</html>
