// Breakpoints
$bp-sm: 48rem;
$bp-md: 64rem;
$bp-lg: 75rem;
$bp-form: 35rem;
@mixin if-larger-than($bp) {
    @media screen and (min-width: $bp) {
        @content;
    }
}
@mixin if-larger-than-mobile() {
    @media screen and (min-width: $bp-sm) {
        @content;
    }
}
@mixin form-width() {
    width: $bp-form;
    max-width: $bp-form;
}

// Colors
$primary: #8BC34A;

// Font styles
@mixin lobster-font() {
    font-family: "Lobster", cursive;
    font-weight: 300;
}

@mixin title-styles() {
    @include lobster-font();
    font-size: 2rem;
}

@mixin subtitle-styles() {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

// Title bar shared style
$title-bar-height: 4rem;
@mixin using-title-bar($additionalPadding: 1rem) {
    padding-top: $title-bar-height + $additionalPadding;
}
