li {
  text-decoration: none; }

body {
  font-family: monospace; }

.horizontal-align {
  margin: auto;
  display: block;
  text-align: center; }

.title li {
  font-size: 3em;
  font-style: normal;
  text-decoration: none;
  list-style-type: none; }

.nav-horizontal {
  padding: 0;
  list-style-type: none;
  text-decoration: none; }
  .nav-horizontal li {
    display: inline; }

