<title-bar></title-bar>

<div class="admin-cards responsive-container">

    <mat-card class="posts-table admin-card">
        <mat-card-title>
            Created Posts
            <a class="new-post" routerLink="newpost"><i class="fa fa-plus"></i> New post</a>
        </mat-card-title>
        <mat-table class="" #table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="postId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Slug Column -->
            <ng-container matColumnDef="postSlug">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Slug </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.slug}} </mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="postTitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>

            <!-- WhenCreated Column -->
            <ng-container matColumnDef="postWhenCreated">
                <mat-header-cell *matHeaderCellDef mat-sort-header> When Created </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.whenCreated}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="posts-row" (click)="editPost(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>

</div>

<!-- Edit post form -->
<router-outlet></router-outlet>

<footer></footer>
